.info_box {
  margin-top: 20px;
}

.info_box h2,
.info_box h3 {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  .info_box h2 {
    font-size: 18px;
  }
}

.info_box p {
  color: #fff;
}

.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.box {
  width: 30px;
  height: 30px;
  background-color: #e2e6ee;
  border-radius: 50%;
  color: #79819a;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-left: 10px;
}

.link {
  color: #fff;
  transition: 0.3s;
  display: block;
}

.link:hover {
  color: #ececec;
}
