.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 1 47%;
  max-width: 400px;
}

.figcaption {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.desc {
  height: 75px;
  margin-top: 20px;
  line-height: 24px;
}

.btn {
  height: 40px;
  color: #5531a7;
  background-color: #fff;
  display: block;
  padding: 10px 0;
  width: 200px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  justify-self: flex-end;
  transition: 0.3s;
}

.btn:hover {
  background-color: #5531a7;
  color: #fff;
}

.more {
  background-color: #5531a7;
  color: #fff;
  transition: 0.3s;
  display: none;
}

.more:hover {
  background-color: #fff;
  color: #5531a7;
}
