.container {
  margin-top: 20px;
  color: #fff;
}

.title {
  font-size: 14px;
}

.list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
  border: 1px solid #fff;
  margin: 2px;
}
