@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  overflow-wrap: anywhere;
}

body {
  font-family: -apple-system, "Roboto", sans-serif;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("https://alexanderkhristichenko.github.io/cv/media/icomoon.eot");
  src: url("https://alexanderkhristichenko.github.io/cv/media/icomoon.eot")
      format("embedded-opentype"),
    url("https://alexanderkhristichenko.github.io/cv/media/icomoon.ttf")
      format("truetype"),
    url("https://alexanderkhristichenko.github.io/cv/media/icomoon.woff")
      format("woff"),
    url("https://alexanderkhristichenko.github.io/cv/media/icomoon.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-github:before {
  content: "\eab0";
}
